name: Droplet Scheduler

on:
  schedule:
    # Start alle 6:30 UTC (8:30 Italia estate, 7:30 inverno)
    #- cron: '30 6 * * *'
    # Stop alle 21:00 UTC (23:00 Italia estate, 22:00 inverno)
    - cron: '0 21 * * *'
  workflow_dispatch:  # Permette esecuzione manuale

jobs:
  manage-droplet:
    runs-on: ubuntu-latest
    steps:
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.RESTART_CRON }}

      - name: Get droplet ID
        id: droplet
        run: |
          DROPLET_ID=$(doctl compute droplet list --format ID,Name --no-header | grep sandra-prod | awk '{print $1}')
          echo "id=$DROPLET_ID" >> $GITHUB_OUTPUT

      - name: Start droplet (morning)
        if: github.event.schedule == '30 6 * * *'
        run: doctl compute droplet-action power-on ${{ steps.droplet.outputs.id }} --wait

      - name: Stop droplet (evening)
        if: github.event.schedule == '0 21 * * *'
        run: doctl compute droplet-action shutdown ${{ steps.droplet.outputs.id }} --wait
